@page "/"
@using DTOs.Models
@using DTOs.User.PostDTOs
@using HttpClients.ClientInterfaces
@using BlazorApp.Components.Components
@using DTOs.DTOs.Notification
@using DTOs.User
@inject NavigationManager NavMgr
@inject AuthenticationStateProvider AuthProvider
@inject IPostService PostService
@inject ISMUserService UserService
@inject ICategoryService CategoryService
@inject INotificationService NotificationService

<PageTitle>Home</PageTitle>

<h1>Home page</h1>

<link href="HomeStylesheet.css" rel="stylesheet"/>

<AuthorizeView>
    <Authorized>
        @if (context.User.IsInRole("Moderator"))
        {
            <!-- Admin Home Content -->
            <h1>Welcome, Admin!</h1>
            <p>This is the admin home page.</p>
            <!-- Add admin-specific components here -->
            <div>
                <h3>Admin Dashboard</h3>
                <p>Manage users, content, and settings.</p>
            </div>
        }
        
        else if (context.User.IsInRole("User"))
        {
        <p>Hello, @context.User.Identity.Name!</p>
        <p>You are logged in.</p>

        <div class="home-container">
            <div class="posts-container">
                <div class="post-div">
                    <div>
                        <label>Title:</label>
                        <InputText @bind-Value="title"/>
                    </div>
                    <div>
                        <label>Body:</label>
                        <InputTextArea @bind-Value="body"/>
                    </div>
                    <div class="category-submit">
                        <div>
                            <label>Category:</label>
                            <InputSelect @bind-Value="categoryId">
                                <option value="0">General</option>
                                @foreach (var category in categories.Where(c => c.Name != "General"))
                                {
                                <option value="@category.Id">@category.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="submit-error-container">
                            <button type="submit" @onclick="HandleValidSubmit" class="btn btn-sm submit-button">Submit</button>
                            <div class="error-message">@errorMessage</div>
                        </div>
                    </div>
                </div>

                <div class="profile-posts">
                    <div class="search-bar">
                        <InputText @bind-Value="@searchText" placeholder="Looking for something?" @oninput="OnSearchInput" />
                    </div>
                    
                    @if (!string.IsNullOrEmpty(searchText))
                    {
                        <div class="post-buttons">
                            <button @onclick="ShowSearchedPosts" class="post-btn @(showSearchedPosts ? "active" : "grey")">Posts</button>
                            <button @onclick="ShowSearchedUsers" class="post-btn @(showSearchedUsers ? "active" : "grey")">Accounts</button>
                        </div>
                    }
                    else
                    {
                        <div class="post-buttons">
                            <button @onclick="ShowAllPosts" class="post-btn @(showAllPosts ? "active" : "grey")">For you</button>
                            <button @onclick="ShowFollowingPosts" class="post-btn @(showFollowingPosts ? "active" : "grey")">Following</button>
                        </div>
                    }

                    @if (showAllPosts)
                    {
                    <div class="posts">
                        @if (allPosts != null && allPosts.Count > 0)
                        {
                        @foreach (var post in allPosts)
                        {
                        <PostComponent Post="post" OnStateChange="GetAllPosts"/>
                        }
                        }
                        else
                        {
                        <p>No posts available.</p>
                        }
                    </div>
                    }
                    else if (showFollowingPosts)
                    {
                    <div class="posts">
                        @if (followingPosts != null && followingPosts.Count > 0)
                        {
                        @foreach (var post in followingPosts)
                        {
                        <PostComponent Post="post" OnStateChange="GetFollowingPosts"/>
                        }
                        }
                        else
                        {
                        <p>No posts available.</p>
                        }
                    </div>
                    }
                    
                    @if (showSearchedPosts)
                    {
                        <div class="posts">
                            @if (searchedPosts != null && searchedPosts.Count > 0)
                            {
                                @foreach (var post in searchedPosts)
                                {
                                    <PostComponent Post="post" OnStateChange="ShowSearchedPosts"/>
                                }
                            }
                            else
                            {
                                <p>No posts available.</p>
                            }
                        </div>
                    }
                    
                    @if (showSearchedUsers)
                    {
                        <div class="posts">
                            @if (searchedUsers != null && searchedUsers.Count > 0)
                            {
                                @foreach (var user in searchedUsers)
                                {
                                    <div class="account">
                                        <div>
                                            <div class="account-nickname" @onclick="() => NavigateToUserProfile(user.username)">@user.username</div>
                                        </div>
                                        @if (user.id == userId)
                                        {
                                            
                                        }
                                        else
                                        {
                                            <div>
                                                <FollowBtn userId="@user.id" OnFollowStatusChanged="ShowSearchedUsers"/>
                                            </div>
                                        }
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No users available.</p>
                            }
                        </div>
                    }
                </div>
            </div>

            <div class="accounts-container">
                <div class="account-box">
                    <h4>Recommended accounts</h4>
                    @foreach (var user in threeRandomUsers)
                    {
                    <div class="account">
                        <div>
                            <div class="account-nickname" @onclick="() => NavigateToUserProfile(user.username)">@user.username</div>
                        </div>
                        <div>
                            <FollowBtn userId="@user.id" OnFollowStatusChanged="GetFollowingPosts"/>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div> 
        }
        else
        {
            <p>You do not have access to this page.</p>
        }
    </Authorized>
    <NotAuthorized>
        <p>You are not logged in.</p>
        <button @onclick='() => NavMgr.NavigateTo("login")'>Login</button>
        <button @onclick='() => NavMgr.NavigateTo("register")'>Register</button>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string title;
    private string body;
    private int categoryId;
    private int userId;

    private List<Category> categories = new List<Category>();
    
    private List<FollowersDTO> threeRandomUsers = new List<FollowersDTO>();
    private List<FollowersDTO> searchedUsers = new List<FollowersDTO>();

    private List<Post> allPosts = new List<Post>();
    private List<Post> followingPosts = new List<Post>();
    private List<Post> displayedPosts = new List<Post>();
    private List<Post> searchedPosts = new List<Post>();

    private bool showAllPosts = true;
    private bool showFollowingPosts = false;
    private string searchText;

    private bool showSearchedPosts = false;
    private bool showSearchedUsers = false;

    private string errorMessage;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var userIdClaim = user.FindFirst(c => c.Type == "Id")?.Value;
            if (int.TryParse(userIdClaim, out int id))
            {
                userId = id;
            }
        }

        await GetCategories();
        await GetAllPosts();
        await GetFollowingPosts();
        UpdateDisplayedPosts();
        await GetThreeRandomUsers();
    }

    private async Task HandleValidSubmit()
    {
        errorMessage = null;

        if (string.IsNullOrWhiteSpace(title))
        {
            errorMessage = "Title cannot be empty.";
            return;
        }

        if (string.IsNullOrWhiteSpace(body))
        {
            errorMessage = "Body cannot be empty.";
            return;
        }
        
        if (categoryId == 0)
        {
            categoryId = categories.FirstOrDefault(c => c.Name == "General").Id;
        }

        var createPostDto = new CreatePostDTO(title, body, categoryId, userId);
        Console.WriteLine(createPostDto.CategoryId);

        try
        {
            await PostService.CreatePost(createPostDto);

            title = string.Empty;
            body = string.Empty;
            categoryId = 0;
            
            StateHasChanged();
            await GetAllPosts();
        }
        catch (Exception ex)
        {
            errorMessage = "Failed to create post. " + ex.Message;
        }
    }

    private async Task GetAllPosts()
    {
        allPosts = await PostService.GetAllPosts();
        UpdateDisplayedPosts();
    }

    private async Task GetFollowingPosts()
    {
        followingPosts = await PostService.GetFollowingPosts(userId);
        UpdateDisplayedPosts();
    }

    private void ShowAllPosts()
    {
        showAllPosts = true;
        showFollowingPosts = false;
        UpdateDisplayedPosts();
    }

    private void ShowFollowingPosts()
    {
        showAllPosts = false;
        showFollowingPosts = true;
        UpdateDisplayedPosts();
    }

    private void UpdateDisplayedPosts()
    {
        if (showAllPosts)
        {
            displayedPosts = allPosts;
        }
        else if (showFollowingPosts)
        {
            displayedPosts = followingPosts;
        }
    }

    private async Task OnSearchInput(ChangeEventArgs e)
    {
        searchText = e.Value.ToString();
        if (!string.IsNullOrWhiteSpace(searchText))
        {
            await ShowSearchedPosts();
        }
        else
        {
            showSearchedPosts = false;
            showAllPosts = true;
            showFollowingPosts = false;
            showSearchedUsers = false;
            searchedPosts.Clear();
            UpdateDisplayedPosts();
        }
    }

    private async Task ShowSearchedPosts()
    {
        showSearchedPosts = true;
        showSearchedUsers = false;
        showAllPosts = false;
        showFollowingPosts = false;

        try
        {
            searchedPosts = await PostService.GetPostsBySearch(searchText);
            displayedPosts = searchedPosts;
        }
        catch (Exception ex)
        {
            errorMessage = "Failed to fetch searched posts. " + ex.Message;
        }

        StateHasChanged();
    }   
    
    //TODO: Category methods
    
    private async Task GetCategories()
    {
        categories = await CategoryService.GetAllCategories();
    }


    //TODO: User methods

    private void NavigateToUserProfile(string username)
    {
        NavMgr.NavigateTo($"/Profiles/{username}");
    }

    private async Task GetThreeRandomUsers()
    {
        threeRandomUsers = await UserService.GetThreeRandomUsers(userId);

        foreach (var user in threeRandomUsers)
        {
            user.IsFollowedByCurrentUser = await UserService.IsFollowing(userId, user.id);
        }
    }

    private async Task ShowSearchedUsers()
    {
        showSearchedUsers = true;
        showSearchedPosts = false;
        showAllPosts = false;
        showFollowingPosts = false;

        try
        {
            searchedUsers = await UserService.GetUsersBySearch(searchText);
        }
        catch (Exception ex)
        {
            errorMessage = "Failed to fetch searched posts. " + ex.Message;
        }

        StateHasChanged();
    }

}
